body{
background-color: #ffffff;
font-family: sans-serif;
font-style: italic;
color: #000000;
margin: 20px;
}
nav {
background-color: #d6c89b;
font-size: x-large;
}
h1{
background-color: #b09c59;
color: #0f0c06;
text-align: center;
}
h2{
color: #544320;
text-align: left;
}
p{
font-size: 18px;
text-align: left;
line-height: 1.5;
}
.daftar-produk{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
}
.produk{
    background-color: #b09c59;
    border: 1px solid #ffd4d4;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.produk img{
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.produk h2{
    font-size: 20px;
    color: #07040f;
}
.produk h3{
    font-size: 16px;
    color: #07040f;
}
.harga{
    font-weight: bold;
    color: #3f270b;
}
.Deskripsi{
    font-size: 14px;
    color: #181818;
}
.artikel {
          max-width: 700px;
          margin: auto;
          padding: 20px;
          background-color: #b09c59;
          font-family: 'Georgia', serif;
         
          line-height: 1.8;
}
.artikel .penulis {
                 font-style: italic;
                 color:#000000;
                 margin-bottom: 20px;
}
.artikel .sampul {
                width: 180px;
                 float: right;
                 margin: 0 0 20px 20px;
                 border: 1px solid #d6c89b;
                 box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
.artikel blockquote {
    font-style: italic;
    padding-left: 20px;
    margin: 20px 0;
    border-left: 4px solid #999;
    color: #444;
    background-color: #c0b48e;
}

.btn-kembali {
    display:inline-block;
    margin-top: 30px;
    padding: 10px 16px;
    background-color: #fffef9;
    color: rgb(78, 73, 57);
    text-decoration: none;
    border-radius: 4px;
}

.btn-kembali:hover {
    background-color: #adb6be;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
form input,form select,form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.formulir {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fffef9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form button {
    background-color: #544320;
    color:#ccc;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #d6c89b;
}